RewriteEngine On
RewriteBase /

# If the requested file or directory does not exist, redirect to index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

# Serve images and CSS files directly
RewriteRule \.(jpg|jpeg|png|gif|css)$ - [L]